body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

header {
    grid-column: 1 / 4;
    background: #c44;
    padding: 20px;
    color: white;
    font-size: 32px;
}

aside {
    background: #555;
    padding: 20px;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background: #fc3;
    padding: 20px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-column: 1 / 4;
    background: #4c4;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
    font-size: 32px;
}

#currentTime {
    position: absolute;
    left: 20px; 
}

#lastModified {
    position: absolute;
    right: 20px;
}